<ion-header>
  <ion-toolbar>
    <ion-title>
      Geo Tagging
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div style="height: 480px" id="mapContainer"></div> -->
  <div style="height: 450px" id="mapid"></div>
  <div align="center">
    <ion-button primary (click)="recenter()">Recenter</ion-button>
    <ion-button primary (click)="dropMarker()">PinIt</ion-button>
    <ion-button primary (click)="drawPolygon()">Show Poly</ion-button>
    <!-- <div>
    <ion-label>lat: {{ coordinates.latitude.toPrecision(4) }}</ion-label>
    <ion-label>lag: {{ coordinates.longitude.toPrecision(4) }}</ion-label>
  </div> -->
  </div>
  <div align="center">
    <ion-button danger (click)="reset()">Reset</ion-button>
  </div>
</ion-content>
