<ion-header>
  <ion-toolbar>
    <ion-title>
      Geo Tagging
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div style="height: 480px" id="mapContainer"></div> -->
  <div style="height: 100%" id="mapid">
    <!-- <div class="leaflet-center leaflet-bottom"> -->
        <!-- <ion-fab left bottom>
          <ion-button ion-fab color="dark"><ion-icon name="arrow-dropup"></ion-icon></ion-button>

        </ion-fab> -->
      <!-- <ion-button (click)="recenter()" color="secondary">
        <ion-icon name="locate"></ion-icon>
      </ion-button> -->
      <!-- <ion-button primary (click)="dropMarker()">
        <ion-icon name=""></ion-icon>
        </ion-icon>
      </ion-button>
    <ion-button primary (click)="drawPolygon()">
      <ion-icon name=""></ion-icon>
    </ion-button> -->
      <!-- <ion-button primary (click)="recenter()">Recenter</ion-button> -->
    <!-- </div> -->
  </div>
  
  <!-- <div align="center">
    <ion-button primary (click)="recenter()">Recenter</ion-button>
    <ion-button primary (click)="dropMarker()">PinIt</ion-button>
    <ion-button primary (click)="drawPolygon()">Show Poly</ion-button>
  </div>
  <div align="center">
    <ion-button danger (click)="reset()">Reset</ion-button>
  </div> -->
</ion-content>
