<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
      <ion-button (click)="showMyCoordinates()" color="secondary" full>Where am i?</ion-button>
      <ion-card *ngIf="showmycoords">
        <img/>
        <ion-card-content>
          <ion-card-title>
            You are at
          </ion-card-title>
          <p>Latitude: {{ coordinates.latitude.toPrecision(4) }} - Longitude: {{ coordinates.longitude.toPrecision(4) }}</p>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>
