<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button primary full (click)="showMyCoordinates()">Where am i?</ion-button>
  <div align="center">
      <ion-card *ngIf="showmycoords">
        <img/>
        <ion-card-content>
          <ion-card-title>
            You are at
          </ion-card-title>
          <p>Latitude: {{ coordinates.latitude }}</p>
          <p>Longitude: {{ coordinates.longitude }}</p>
        </ion-card-content>
      </ion-card>
  </div>

</ion-content>